/*
====================================
colors
====================================
*/
:root {

  /* principals */
  --primary: #fff6d9;
  --black: #000000;
  --white: #ffffff;
  --transparent: #00000000;
  --layer-1: #00000099;
}
