/* ***************************** */
/* Reset */
/* ***************************** */
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
}
/* ***************************** */
/* Variables */
/* ***************************** */
:root {
  /* principal */
  --color-skin: #ecc6a2;
  --color-eggplant: #4b3a51;
  --color-wood: #a77a4b;
  --color-blood: #a43020;
  --color-wine: #722d24;
  /* social media */
  --color-instagram: #e4405f;
  --color-whatsapp: #25d366;
  /* z-index */
  --header: 100;
  --menu: 50;
}
